.env*
!.env.example
node_modules
.DS_Store
dist
dist-ssr
*.local
.eslintcache
coverage
.nyc_output
.stylelintcache
cypress/videos
package-lock.json

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

playwright/.auth
!playwright/.auth/test-user.json
