.env*
!.env.example.public
!.env.example.private
node_modules
.DS_Store
dist
dist-ssr
*.local
.eslintcache
coverage
.nyc_output
.stylelintcache
package-lock.json
e2e/pages/filing-app/uploadFile/downloads/*
e2e/utils/downloads/*

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/test-results/
/playwright-report/
/playwright-reports/
/blob-report/
/results.json
/playwright/.cache/

playwright/.auth
!playwright/.auth/test-user.json
