#filing-home {
  .m-hero {
    border-bottom: 1px solid #afd2f2; // @pacific-40

    .grid dd, .grid dd, .grid dt, .grid dt, .grid h3, .grid h3, .grid h4, .grid h4, .grid h5, .grid h5, .grid h6, .grid h6, .grid li, .grid li, .grid p, .grid p, .grid label, .grid label {
      max-width: 41.875rem;
    }

    .m-hero_subhead {
      // TODO: Proposed text doesn't fit on two lines even when plugged into a cfpb.gov site
      // ex. https://www.consumerfinance.gov/consumer-tools/
      // This workaround should also be responsively adjusted.
      min-width: 681px;
    }
  }
}
