/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* Modified from cf.gov for tailwind use, see:
https://github.com/search?q=org%3Acfpb+max-width%3A+41.875rem%3B&type=code&p=1
https://v1.tailwindcss.com/docs/adding-base-styles#using-css */

@layer components {
  .row dd, .row dt, .row h3, .row h4, .row h5, .row h6, .row li, .row p, .row label {
      max-width: 41.875rem;
  }
}

.auth-action .a-btn {
  font-weight: 600;
  color: #43484e;
  border: none;
  text-decoration: none;

  &:hover {
    color: #2284d5;
  }
}

/* Fixes the issue where too much white space below the footer while zoomed out or when swiping on mobile */
body {
  background-color: #f7f8f9;
}

/* Uncomment to use ellipsis trick on Review Errors and Warnings tables */

/* td
{
 max-width: 0;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
} */


/* Uncomment to make cells width the smallest possible */

/* td {
width:1%;
white-space: nowrap;
}  */

