/* Part of code cleanup for post-mvp see: https://github.com/cfpb/sbl-frontend/issues/717 */
/* stylelint-disable selector-class-pattern */

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* Modified from cf.gov for tailwind use, see:
https://github.com/search?q=org%3Acfpb+max-width%3A+41.875rem%3B&type=code&p=1
https://v1.tailwindcss.com/docs/adding-base-styles#using-css */

@layer components {
  .row dd,
  .row dt,
  .row h3,
  .row h4,
  .row h5,
  .row h6,
  .row li,
  .row p,
  .row label {
    max-width: 41.875rem;
  }

  /* Secondary button styling */

  /* https://github.com/cfpb/sbl-frontend/issues/580 */
  .a-btn.a-btn__secondary .a-btn_icon__on-left {
    @apply border-pacific;
  }

  .a-btn.a-btn__secondary .a-btn_icon__on-right {
    @apply border-pacific;
  }

  .a-btn.a-btn__secondary:hover {
    @apply border-pacificDark bg-white text-pacificDark;
  }

  .a-btn.a-btn__secondary:hover .a-btn_icon__on-left {
    @apply border-pacificDark;
  }

  .a-btn.a-btn__secondary:hover .a-btn_icon__on-right {
    @apply border-pacificDark;
  }

  .a-btn.a-btn__secondary:focus {
    @apply border-pacificDark bg-white text-pacificDark outline-pacificDark;
  }

  .a-btn.a-btn__secondary:focus .a-btn_icon__on-left {
    @apply border-pacificDark;
  }

  .a-btn.a-btn__secondary:focus .a-btn_icon__on-right {
    @apply border-pacificDark;
  }

  .a-btn.a-btn__secondary:active {
    @apply border-navy bg-white text-navy;
  }

  .a-btn.a-btn__secondary:active .a-btn_icon__on-left {
    @apply border-navy;
  }

  .a-btn.a-btn__secondary:active .a-btn_icon__on-right {
    @apply border-navy;
  }
}

select.error {
  @apply border-[1px] border-solid border-errorColor outline outline-[1px] outline-errorColor;
}

.auth-action .a-btn {
  font-weight: 600;
  border: none;
  text-decoration: none;
  @apply text-grayDark;

  &:hover {
    @apply text-pacific90;
  }
}

/* Fixes the issue where too much white space below the footer while zoomed out or when swiping on mobile */
body {
  @apply bg-gray5;
}

/* Uncomment to use ellipsis trick on Review Errors and Warnings tables */

/* td
{
 max-width: 0;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
} */

/* Uncomment to make cells width the smallest possible */

/* td:not(:last-child){
    white-space: nowrap;
}

td:last-child{
    width: 100%;
} */

/* td {
  word-break: break-all;
} */

/* Gets rids of the every other Table Row being a different color */

/* TODO: Put this fix in the DSR */

/* https://github.com/cfpb/design-system-react/issues/345 */
td {
  @apply !bg-white;
}

/* Design System overrides */

/* Alerts - all icons in DS Alerts are colored based on the Alert type */
a .link-icon-override-color .cf-icon-svg {
  @apply fill-pacific;
}

a:visited .link-icon-override-color .cf-icon-svg {
  @apply fill-teal;
}

a:hover .link-icon-override-color .cf-icon-svg {
  @apply !fill-pacificDark;
}

.m-hero {
  @apply !bg-white;
}
