@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-action .a-btn {
  font-weight: 600;
  color: #43484e;
  border: none;
  text-decoration: none;

  &:hover {
    color: #2284d5;
  }
}

[type='text']:focus {
  box-shadow: none;
}

:focus {
  outline: 1px dotted #0072ce !important;
  outline-offset: 3px;
}