.m-hero.error-page {
  .m-hero_image {
    max-height: 250px;
    width: auto;
    margin: 0 auto;
  }

  .contact-us {
    font-size: 1rem;
    .a-lint_text {
      display: block;
      margin-top: 10px;
    }
  }

  .visit-homepage {
    font-size: 1rem;
  }
}
